
    body {
    background-image: url("../images/background.png");
}



header {

font-family: 'Bungee Inline', cursive;
width: 100%;
z-index: 1;
}

.center {
    margin-left: 140px;
    margin-right: 160px;

}

.navBar {
    background-color:black; opacity: 0.5;
    color: white;
    padding: 10px;
    position: relative;
    margin-top: -55px;
    display: inline-block;
    width: 100%;
}

.logo {
    background-color: darkslategrey;
    color: #ffffff;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bolder;
    font-size: 30px;
    padding: 16px;
    text-align: center;
    position: relative;
    top: 15px;
    width: 320px;
    z-index: 2;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: grey; opacity: 0.75;
}

#pagetwo {
    background-color: black;
}

.profilePic {
    width: 300px;
    height: 300px;
    position: relative;
    bottom: -250px;
    left: 50%;

    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.profile{
font-family: 'Bungee Inline', cursive;
color: white;
font-size: 30px;
text-align: center;
position: relative;
    bottom: -150px;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

.aboutTitle {
    background-color: black; opacity: 0%;
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 30px;
    padding: 50px;
    width: 150px;
    margin: 0 auto;
    position: relative;
    bottom: -200px;
    width: 600px;
    height: 600px;
}

.aboutMe {
    background-color: white;
    color:black;
    font-family: 'Bungee', sans-serif;
    font-size: 30px;
    padding: 40px;
    width: 900px;
    text-align: center;
    
    position: absolute;
    top: 140px;
    left: 110px;
    border-radius: 50%;
    width: 400px;
    height: 400px;

}
.aboutMeTitleText {
    position: relative;
    top: 10px;
    text-align: center;

}
.aboutMeText {
    position: relative;
    font-size: 20px;
    vertical-align: center;
    top: 75px;
    text-align: center;
    
}

/* CONTACT FORM */

.contactBackground {
    background-color: black; opacity: 0%;
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 30px;
    padding: 60px;
    
    text-align: center;
    margin: 0 auto;
    position: relative;
    bottom: -300px;
    width: 580px;
    height: 500px;
    margin-bottom: 100px;
}

form{
    margin-top: 50px;
    text-align: left;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], select {
    width: 25%;
    background-color: darkslategrey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    float: right;
    border: 1px;
    border-color: black;
}

/* PORTFOLIO */

.portfolioContainer {
    height: 600px;
    position: relative;
    bottom: -150px;
    margin: 0 auto;
    width: 80%;
    z-index: 1;
}

.portfolioItemName {
    background-color: black;
    font-family: 'Bungee';
    color: white;
    text-align: center;
    font-size: 24px;
    position: relative;
    width: 100%;

}
.portfolioTitle{
    background-color: black;
    font-family: 'Bungee Inline', cursive;
    color:white;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    position: relative;
    bottom: -100px;
    width: 150px;
    padding: 30px;
    z-index: 2;
}

.portfolioOne {
    background-color: green;
    float: left;
    width: 250px;
    height: 250px;
    margin: 25px;
}


.portfolioTwo {
    background-color: purple;
    float: left;
    width: 250px;
    height: 250px;
    margin: 25px;
}

.portfolioThree {
    background-color: blue;
    float: left;
    width: 250px;
    height: 250px;
    margin: 25px;
}

.portfolioFour {
    background-color: orange;
    float: left;
    width: 250px;
    height: 250px;
    margin: 25px;
}

.portfolioFive {
    background-color: red;
    float: left;
    width: 250px;
    height: 250px;
    margin: 25px;
}

